* {
  font-family: Arial, Helvetica, sans-serif !important;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

nav {
  background-color: #00095e;
  color: aqua;
}

#headerImage {
  height: 13%;
  width: 13%;
  margin-right: 1%;
  border-radius: 5px;
}

#navbarLink {
  color: #00b7ff;
  font-size: large;
  display: block;
  float: right;
}

button {
  background-color: #00095e;
  color: aqua;
  transition: 1000ms;
  text-decoration: none;
}

#dropdownItem:hover {
  background-color: #00b7ff !important;
  color: #00095e !important;
  transition: 1000ms !important;
}

#titoli {
  font-size: xx-large;
  margin-left: 1%;
  text-align: center;
}
