#carousel img {
  width: 100% !important;
  height: 30% !important;
}

#carousel button:hover {
  background-color: #00095e !important;
  color: aqua !important;
  transition: 1000ms !important;
}

#biglietti img {
  margin-left: 1%;
  border-radius: 5px;
  width: 4%;
  height: 4%;
  margin-bottom: 1%;
}

#biglietti div {
  padding: 2%;
}
#bigliettiTesto {
  font-size: large;
  display: block;
  margin-left: 1%;
  float: right;
}

#bigliettiButton {
  font-size: medium;
  background-color: #00095e;
  text-decoration: none;
}

#bigliettiButton:hover {
  font-size: large;
  background: linear-gradient(#00095e, #00b7ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-emphasis-color: transparent;
  transition: 1000ms;
}

video {
  min-width: 20%;
  width: 33%;
  max-width: 100%;
}

footer {
  background-color: #00095e;
  color: aqua;
}
