.Drop {
  color: #00b7ff;
  padding: 0px;
}

button:hover {
  background-color: #00095e !important;
  color: aqua !important;
  transition: 499ms !important;
}

#demo button:hover {
  opacity: 50 !important;
}

#piste button:hover {
  opacity: 50 !important;
}

.dropdown-item:hover {
  color: #00095e;
  background-color: #00b7ff;
  border-radius: 15px;
  transition: 600ms;
  font-weight: bold;
}
